	<%= simple_form_for Bomb.new do |f| %>
	  <button id="photobombed" class="btn btn-lg btn-primary btn-block btn-cta">I Just Photobombed</button>
	  <p id="loading-location" style="display:none;" class="text-center text-success">
	  	<br>
	  	<strong>Getting location...</strong>
	  </p>
	  <div class="hidden">
	 		<%= f.input :latitude %>
	  	<%= f.input :longitude %>
	  	<%= f.input :accuracy %>
	  </div>

	  <div class="alert alert-success alert-dismissible hidden" role="alert">
	  	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  	Great, we'll let you know when you've found your photobomb.
	  </div>
	  <div id="error-location" class="alert alert-danger alert-dismissible hidden" role="alert">
	  	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  	Could not get location
	  </div>
	<% end %>

<br>

<div class="zero-results hidden">
	<p class="lead text-center">No photobombs yet!</p>
	<div class="zero-results-icon center-block">
		<span class="glyphicon glyphicon-picture"></span>	
	</div>
</div>

<h1 class="h4">Recently Found Photobombs</h1>               

<% @photos.each do |photo| %>
	<%= render partial: 'partials/photo', locals: { photo: photo } %>
<% end %>
