<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Photobombfinder</title>
	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.0/holder.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Lato:400,700,900,300' rel='stylesheet' type='text/css'>
	<%= csrf_meta_tags %>
	<script src="http://gregpike.net/demos/bootstrap-file-input/bootstrap.file-input.js"></script>
</head>
<body>

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<%- if user_signed_in? %>
					<% if @new_matches %>
					<button type="button" class="navbar-toggle collapsed " data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
						<span class="badge"><%= @new_matches.size %></span>
					</button>
					<% end %>
				<% end %>

				<%= link_to root_url, class: 'navbar-brand visible-xs' do %><%= image_tag("photobombfinder.png", width: "100") %><% end %>
				<%= link_to root_url, class: 'navbar-brand hidden-xs' do %><%= image_tag("photobombfinder.png", width: "200") %><% end %>

				<div class="visible-xs">
					<%- if !user_signed_in? %>
					<%- if controller_name != 'registrations' && controller_name != 'photos' %>
						<%= link_to "Sign up", new_user_registration_path, class: "btn btn-danger navbar-btn pull-right" %>
					<% end -%>

					<%- if controller_name != 'sessions' %>
						<%= link_to "Log in", new_user_session_path, class: "btn btn-success navbar-btn pull-right" %>
					<% end -%>
				<% end %>
				<%= link_to "<span class='glyphicon glyphicon-cloud-upload'></span> Upload".html_safe, new_photo_path, class: "btn btn-success navbar-btn pull-right" %>
				</div>
			</div>
			
			<ul class="nav navbar-nav navbar-right hidden-xs">
				<%- if user_signed_in? %>
				<% if @new_matches %>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
						Notifications <span class="badge"><%= @new_matches.size %></span></a>
						<ul class="dropdown-menu">
							<% if @new_matches.size === 0 %>
							<li><a href="#">No new notifications</a></li>
							<% end %>
							<% @new_matches.each do |match| %>
							<li><a href="#"><span class="glyphicon glyphicon-ok-sign text-success"></span> We've found the photobomb you did <%= time_ago_in_words match.bomb.taken_at %> ago</a></li>
							<% end %>
						</ul>
					</li>
					<% end %>
				<% end %>
				<%- if !user_signed_in? %>
					<%- if controller_name != 'registrations' && controller_name != 'photos' %>
						<%= link_to "Sign up", new_user_registration_path, class: "btn btn-danger navbar-btn pull-right" %>
					<% end -%>

					<%- if controller_name != 'sessions' %>
						<%= link_to "Log in", new_user_session_path, class: "btn btn-success navbar-btn pull-right" %>
					<% end -%>
				<% end %>
				<%= link_to "<span class='glyphicon glyphicon-cloud-upload'></span> Upload".html_safe, new_photo_path, class: "btn btn-success navbar-btn pull-right" %>
			</ul>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<% if @new_matches %>
				<ul class="nav navbar-nav visible-xs">
					<% if @new_matches.size === 0 %>
						<li><a href="#">No new notifications</a></li>
					<% end %>
					<% @new_matches.each do |match| %>
						<li><a href="#"><span class="glyphicon glyphicon-ok-sign text-success"></span> We've found the photobomb you did <%= time_ago_in_words match.bomb.taken_at %> ago</a></li>
					<% end %>
				</ul>
				<% end %>
			</div><!-- /.navbar-collapse -->

		</div><!-- /.container-fluid -->
		<div class="progress">
		<div class="progress-bar progress-bar-success" style="width: 25%"></div>
		<div class="progress-bar progress-bar-warning" style="width: 25%"></div>
		<div class="progress-bar progress-bar-danger" style="width: 25%"></div>
		<div class="progress-bar progress-bar-info" style="width: 25%"></div>
	</div>
	</nav>

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<%= yield %>
			</div>
		</div>
	</div>

	<!-- <%- if user_signed_in? %>
		<%= link_to "Log Out", destroy_user_session_path, :method => :delete, class: "btn btn-default btn-block btn-logout" %>
	<% end %>	 -->

</body>
</html>
