<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Photobombfinder</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.0/holder.js"></script>
	<%= csrf_meta_tags %>
</head>
<body>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<%- if user_signed_in? %>
				<button type="button" class="navbar-toggle collapsed " data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
					<span class="badge">4</span>
				</button>
				<% end %>
				<a class="navbar-brand" href="#">PhotobombFinder</a>

				<%- if !user_signed_in? && devise_mapping.registerable? && controller_name != 'registrations' %>
					<%= link_to "Sign up", new_registration_path(resource_name), class: "btn btn-danger navbar-btn pull-right" %>
				<% end -%>

				<%- if !user_signed_in? && controller_name != 'sessions' %>
					<%= link_to "Log in", new_session_path(resource_name), class: "btn btn-success navbar-btn pull-right" %>
				<% end -%>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="#">We've found your photobomb you did x days ago</a></li>
					<li><a href="#">We've found your photobomb you did x days ago</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

<%- if user_signed_in? %>
	<%= simple_form_for Bomb.new do |f| %>
	  <button id="photobombed" class="btn btn-lg btn-primary btn-block btn-cta">I Just Photobombed</button>
	  <p id="loading-location" style="display:none;" class="text-center">Getting location...</p>
	 <!--  <%= f.input :latitude %>
	  <%= f.input :longitude %>
	  <%= f.input :accuracy %> -->

	  <div class="alert alert-success alert-dismissible hidden" role="alert">
	  	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  	Great, we'll let you know when you've found your photobomb.
	  </div>
	  <div id="error-location" class="alert alert-danger alert-dismissible hidden" role="alert">
	  	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  	Could not get location
	  </div>
	<% end %>
<% end %>



	<div class="container">
		<%= yield %>	
	</div>

	<!-- <button class="btn btn-default btn-block">Log Out</button> -->
	<%- if user_signed_in? %>
		<%= link_to "Log Out", destroy_user_session_path, :method => :delete, class: "btn btn-default btn-block" %>
	<% end %>	

</body>
</html>
